<nav>
    <div class="logo">
        <h3>Conf Bs As</h3>
    </div>
    <div class="men">
        <ul>
            <li><a href="index.html">La conferencia</a></li>
            <li>Los oradores</li>
            <li>El lugar y la fecha</li>
            <li>Conviertete en orador</li>
            <li><a href="tickets.html">Comprar tickets</a></li>
        </ul>
    </div>
</nav>