<form class="form-button" action="">
    <button class="btn-1">
        <h3>Estudiante</h3>
        <p>Tiene un descuento</p>
        <p>80%</p>
        <span>*presentar documentación</span>
    </button>
    <button class="btn-2">
        <h3>Trainee</h3>
        <p>Tiene un descuento</p>
        <p>50%</p>
        <span>*presentar documentación</span>
    </button>
    <button class="btn-3">
        <h3>Junior</h3>
        <p>Tiene un descuento</p>
        <p>15%</p>
        <span>*presentar documentación</span>
    </button>
</form>