<footer>
    <ul>
        <li>Preguntas frecuentes</li>
        <li>Contáctanos</li>
        <li>Prensa</li>
        <li>Conferencias</li>
        <li>Términos y condiciones</li>
        <li>Privacidad</li>
        <li>Estudiantes</li>
    </ul>
</footer>